scikit-learn
scikit-image
tensorboard==2.10.1
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
tqdm 
sparse
configargparse
h5py
imgviz
pyyaml
ninja
lpips
pytorch-lightning<2
omegaconf==2.2.3
nerfacc==0.3.3
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
PyMCubes==0.1.4
pyransac3d
torch_efficient_distloss
prettytable
trimesh
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/otaheri/chamfer_distance
